<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= javascript_pack_tag 'semantic_ui_helper' %>
  </head>
  <body>
    <div class="ui container">
      <%= dismissable_flash %>
      <%= render 'shared/menu' %>
      <%= yield %>
      <%= render 'shared/debug' %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
